<div class="flicker-search p-4 row">
    <form class="example-form col-lg-12">
        <mat-form-field class="example-full-width col-lg-7">
            <mat-label>{{searchTag}}</mat-label>
            <input matInput [placeholder]="searchTag" value="">
        </mat-form-field>
        <button class="ml-2" mat-button>Reset</button>
        <button mat-raised-button color="primary">Submit</button>
    </form>

    <h2 class="font-weight-bold mt-3">Requests</h2>
    <ul class="d-flex flex-row">
        <li><a href="">Sorted By</a></li>
        <li><a href="">Number of Views</a></li>
        <li><a href="">Date when Photo was taken</a></li>
        <li><a href="">Date when Photo was submitted</a></li>
    </ul>
</div>