<div class="flicker-search p-4 row">
    <form class="example-form col-lg-12" [formGroup]="searchForm">
        <mat-form-field class="example-full-width col-lg-7">
            <mat-label>{{searchTag}}</mat-label>
            <input matInput [placeholder]="searchTag" formControlName="searchText" value="">
            <mat-error *ngIf="searchForm.controls.searchText.errors">Please enter search value... </mat-error>
        </mat-form-field>
        <button class="ml-2" mat-button (click)="doReset()">Reset</button>
        <button [disabled]="!searchForm.valid" (click)="doSearch()" mat-raised-button color="primary">Submit</button>
    </form>

    <h2 class="font-weight-bold mt-3">Requests</h2>
    <ul class="d-flex flex-row">
        <li>Sorted by</li>
        <li><a href="#" [ngClass]="{selected: currentSortType === 'views' }" (click)="sort({type: 'views'})">Number of Views</a></li>
        <li><a href="#" [ngClass]="{selected: currentSortType === 'datetaken' }" (click)="sort({type: 'datetaken'})">Date when Photo was taken</a></li>
        <li><a href="#" [ngClass]="{selected: currentSortType === 'datesubmitted' }" (click)="sort({type: 'datesubmitted'})">Date when Photo was submitted</a></li>
    </ul>
</div>