ul {
    li {
        list-style: none;
        margin-right: 1%;
        a {
            text-decoration: none;
            color: #585454;
            font-size: 1.2em;
            &.active {
                color: black
            }
        }
    }
}