<div class="flicker-image-tag col-lg-4 p-3 ">
    <div>
        <h2 class="text-uppercase p-2">search tag</h2>
    </div>
    <div class="flex flex-row">
        <p class="text-center flicker-text block mt-3 mb-2 font-weight-bold">owners name</p>
        <div class="d-flex justify-content-between p-4">
            <div>
                <h3>Uploaded</h3>
                <p>21.09.2018</p>
            </div>
            <div>
                <h3>Uploaded</h3>
                <p>21.09.2018</p>
            </div>
        </div>
        <div class="flex flex-row mt-3 mb-2 text-center">
            <p><a href="">Show all images</a></p>
        </div>
    </div>
</div>